@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<StoreWebUI.Models.InventoryVM>

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Inventory</h2>
        <br />
    </div>
    <div class="col-6 text-right"></div>
</div>
<table class="table">
    <thead>
        <tr class="table-success">
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Action</th>
        </tr>
        @foreach (InventoryVM item in Model)
            {
        <tr>
        <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
        <td>@Html.DisplayFor(modelItem => item.Price)</td>
        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
        <td>
            <button class="btn btn-info">@Html.ActionLink("More Details", "Details", "Product", new { p_id = item.ProductId }, new { @style = "color: white" })</button>
            <button class="btn btn-info">@Html.ActionLink("Update", "Edit", "Inventory", new { p_id = item.ProductId }, new { @style = "color: white" })</button>
        </td>
        </tr>
             }
    </thead>
</table>
<br />
<a href="https://localhost:44306/">
    <button type="button" class="btn btn-secondary">Back</button>
</a>

