@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model StoreWebUI.Models.CustomerVM

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Search Result</h2>
        <br />
    </div>
    <div class="col-6 text-right"></div>
</div>

<table class="table">

    <thead>
        <tr class="table-success">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">E-mail</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>

        </tr>
        <tr>
            <td>@Html.DisplayFor(modelItem => modelItem.Id)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.Name)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.Address)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.Email)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.Phone)</td>
            <td>
                <button class="btn btn-info">@Html.ActionLink("View Order History", "GetCustomerOrders", "Order", new { p_id = Model.Id }, new { @style = "color: white" })</button>
            </td>
        </tr>
    </thead>
</table>
<br />
<a href="https://localhost:44306/Customer">
    <button type="button" class="btn btn-secondary">Back</button>
</a>
