
@model IEnumerable<StoreWebUI.Models.OrderVM>

<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Order History</h2>
        <br />
    </div>
    <div class="col-6 text-right"></div>
</div>
<table class="table">
    <thead>
        <tr class="table-success">
            <th scope="col">Store Id</th>
            <th scope="col">Customer Id</th>
            <th scope="col">Order Date</th>
            <th scope="col">Total Price</th>
            <th scope="col">Items</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orders in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => orders.StoreId)</td>
            <td>@Html.DisplayFor(modelItem => orders.CustomerId)</td>
            <td>@Html.DisplayFor(modelItem => orders.OrderDate)</td>
            <td>@Html.DisplayFor(modelItem => orders.TotalPrice)</td>
            <td>@Html.DisplayFor(modelItem => orders.LineItems)</td>
        </tr>
        }
    </tbody>
</table>
<br />
<a href="https://localhost:44306/">
    <button type="button" class="btn btn-secondary">Back</button>
